@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700;800&display=swap');

body{
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}

a{
    color: #2B427E;
}

button{
    outline: none;
    border: none;
    height: 57px;
    background: #2B427E;
    border-radius: 2px;
    color: #ffffff;
	cursor: pointer;

}

button:hover{
    background: #3E5EB1;
}

button:active{
    background: #1C2A50;
}

.header-section{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.wrapper{
    width: 940px;
    margin-top: 100px;
    margin-left: 250px;
}

.main-image{
    height: 692px;
    margin-left: auto;
}

h1{
    font-weight: 800;
    font-size: 48px;
    line-height: 66px;
    color: #121212;
    margin-bottom: 32px;
}

.text{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #777777;
    white-space:    pre-line;
}

.info{
    margin-bottom: 17px;
}

.declare{
    margin-bottom: 4px;
}

li{
    padding-left: 20px;
}

li::marker{
    content: url("../img/list_marker.png");
}

.open{
    width: 250px;
    height: 57px;
    background: #2B427E;
    border-radius: 2px;
    margin-top: 56px;
}

.hr{
    background: #2B427E;
    height: 6px;
}

h2{
    margin-bottom: 48px;
    color: #121212;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
}

.modal{
    background: #666F84;
}

.modal-content{
    width: 460px;
    border-radius: 0;
    position: relative;
    overflow: visible;
}

.modal-body{
    box-sizing: border-box;
    padding: 48px;
}

.form{
    width: 365px;
}

input[type=text]{
    height: 57px;
    width: 100%;
    background: #F4F4F4;
    border: 1px solid #E8E8E8;
    border-radius: 2px;
    padding: 16px 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
}

input::placeholder{
    color: #777777;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
}

input[type=text]:hover{
    color: #000000;
    border: 1px solid #858585;
}
input[type=text]:focus{
    outline: none;
    color: #000000;
    border: 1px solid #858585;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-file {
	position: relative;
	display: inline-block;
}
.input-file span {
	position: relative;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-weight: 500;
    font-size: 18px;
    line-height: 25px;
	vertical-align: middle;
	color: #2B427E;
	border: 1px solid #E8E8E8;
    border-radius: 2px;
    width: 100%;
    height: 57px;
    margin-right: 8px;
}

.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

.close{
    position: absolute;
    top: -40px;
    right: -64px;
    outline: none;
    border: none;
    background: none;
	cursor: pointer;
}

.close:hover{
    background: none;
}

.submit{
    width: 100%;
    margin-top: 64px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}
